<?xml version="1.0" ?>
<robot name="SimpleCarRobot" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <material name="silver">
    <color rgba="0.700 0.700 0.700 1.000" />
  </material>
  <material name="red">
    <color rgba="1.000 0.000 0.000 1.000" />
  </material>
  <material name="blue">
    <color rgba="0.678 0.847 0.902 1.000" />
  </material>
  <material name="green">
    <color rgba="0.000 1.000 0.000 1.000" />
  </material>
  <material name="yellow">
    <color rgba="1.000 1.000 0.000 1.000" />
  </material>
  <material name="orange">
    <color rgba="1.000 0.647 0.000 1.000" />
  </material>
  <material name="purple">
    <color rgba="0.502 0.000 0.502 1.000" />
  </material>
  <material name="pink">
    <color rgba="1.000 0.753 0.796 1.000" />
  </material>
  <material name="cyan">
    <color rgba="0.000 1.000 1.000 1.000" />
  </material>
  <material name="brown">
    <color rgba="0.647 0.165 0.165 1.000" />
  </material>
  <material name="black">
    <color rgba="0.000 0.000 0.000 1.000" />
  </material>

</robot>
